<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Pass It On ! Account activation Error</title>
<link href="css/styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
          <tr>
            <td class="content-wrap">
              <meta itemprop="name" content="Confirm Email"/>
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                        <div style="text-align: center">
                          <img margin-left="auto" margin-right="auto" display="block" src="images/ic_launcher_custom_72x72.png" alt="" class="displayed"> 
                        </div>
                        Something went wrong.
                        <div><%= @error %></div>                                                  
                  </td>
                </tr>
<!--                <tr>
                  <td class="content-block">
                    We may need to send you critical information about our service and it is important that we have an accurate email address.
                  </td>
                </tr> -->
<!--                <tr>
                  <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
                    <a href="http://www.mailgun.com" class="btn-primary" itemprop="url">Confirm email address</a>
                  </td>
                </tr> -->
                <tr>
                  <td class="content-block">
                    <div style="font-family: sans-serif">&mdash; Team Pass It On</div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <div class="footer">
          <table width="100%">
            <tr>
              <td class="aligncenter content-block">Visit us @ <a href="http://pass-it-on.com.de">Pass It On</a></td>
            </tr>
          </table>
        </div></div>
    </td>
    <td></td>
  </tr>
</table>

</body>
</html>